:host {
    position: relative;
}

input.ng-touched.ng-invalid {
    border: solid red 1px;
}

input.ng-touched.ng-valid {
    border: solid green 1px;
}

.btn.close {
    right: 20px;
    position: absolute;
}

.contacts-form {
    position: relative;
}